/**********************************
PAGE STYLE
**********************************/
body {
  text-align: center;
}

ul {
  -webkit-padding-start: 0px;
}

li {
  list-style: none;
}

.result-area {
  margin: 0 1.5em auto;
}

.entry-card {
  padding: 1em 1em;
  margin: 1em auto;
  border-radius: 5px;
}

ul li div p {
  margin-top: .2em;
  margin-bottom: 0;
}

input[type=text],
input[type=button] {
  border-radius: 5px;
  border: 2px solid;
  margin: .5em;
  padding: .5em;
}

input[type=text]:focus,
input[type=button]:focus {
  outline-style: none;
}

/**********************************
TEXT STYLES
**********************************/
h1 {
  font-family: 'Ovo', sans-serif;
  font-size: 2.5em;
}

button, input, optgroup, select, textarea {
  font-family: 'Muli', serif;
}

a,
p {
  font-family: 'Muli', serif;
  text-decoration: none;
}

a.thick {
  font-weight: bold;
}

/**********************************
COLOR SCHEME
**********************************/
body {
  background-color: #FFFFFF;
}

h1 {
  color: #78868A;
}

input[type=text],
input[type=button] {
  background-color: white;
  color: #78868A;
  border-color: #78868A;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}

/* Accessibile styles for input focus states */
input[type=text]:focus,
input[type=button]:focus {
  background-color: #8CDFD6;
  outline-color: black;
}

input[type=button]:hover {
  background-color: #959BE9;
  border-color: #959BE9;
  color: white;
}
/* End */

a {
  color: #78868A;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}

a:hover {
  color: #959BE9;
}

ul li div p {
  color: #333333;
}

ul li div a {
  color: #959BE9;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}

ul li div a:hover {
  color: #4a4d74;
}

/* Accessibile styles for link focus states */
a:focus {
  outline-color: #392F5A;
}
/* End */

.entry-card {
  background-color: #F4F4F4;
}
