body {
  text-align: center;
}

ul {
  -webkit-padding-start: 0px;
}

li {
  list-style: none;
}

h1 {
  font-family: 'Alegreya', serif;
  font-weight: 700;
}

p,
a {
  font-family: 'Roboto', sans-serif;
}

.result-area {
  margin: 0 1.5em auto;
}
